<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582102451528-u0361g9glftv8r041hlpn0kd1jnftvta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582102451528-u0361g9glftv8r041hlpn0kd1jnftvta</string>
	<key>API_KEY</key>
	<string>AIzaSyAbW3YDPknFuTBPFWs4fvdJeJXu8j0WXYo</string>
	<key>GCM_SENDER_ID</key>
	<string>582102451528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movie-app-f3a56</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-f3a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582102451528:ios:fe74f292a4689e6fb95f7d</string>
</dict>
</plist>